# See https://help.github.com/ignore-files/ for more about ignoring files.

#build
app/build
app/public

# dependencies
/node_modules
app/node_modules

# testing
/coverage

# production
/build

# firebase config
.firebase.dev*
.firebase.production*
.firebase.config*
.firebase.user*

# chrome extension
chrome/static/*
chrome/asset-manifest.json
chrome/index.html
chrome/service-worker.js


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
